{% load static %}
<!DOCTYPE html>
<html>
<head>
    <title>User Name</title>
</head>

<body>
    <form method="POST" action="{% url 'check_selection' %}">
        {% csrf_token %}
        <label for="employeeSelect">Choose Employee</label>
        <select id="employeeSelect" name="employeeSelect">
            <option value="0">Name</option>
            {% for item in employee_list %}
            <option value="{{ item.id }}">{{ item.name }}</option>
            {% endfor %}
        </select>
        <div style="display: flex;">
            <div>
                <p>From Calendar</p>
                <input type="image" src="{{ MEDIA_URL }}/attendanceapp/media/menu_calendar.png" name="Calendar">
            </div>
            <div>
                <p>From Seat Map</p>
                <input type="image" src="{{ MEDIA_URL }}/attendanceapp/media/seats.png" name="Seats" style="display: block; width: 60%;">                
            </div>
        </div>
    </form>

    {% if error %}
    <p style="color: red;">{{ error }}</p>
    {% endif %}
</body>

</html>